h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ol,
ul {
    list-style-type: none;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.link,
.main-navi{
    text-decoration: none;
}
button {
    cursor: pointer;
}
.flex-box {
    display: flex;
}
/* Body */
body {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color:#FFFFFF;
    font-family: "Roboto", sans-serif;
    color:#434455;
}
/*Main-logo*/
.header {
    border-bottom: 1px solid var #E7E9FC;
    width: 1158px;
}
.main-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px
}
.main-logo-flex-box {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-flex-box {
    display: flex;
    align-items: center;
}
.main-span {
    color: #2e2f42;
}
 /*Main-navi*/
.main-navi {
    color:  #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px
}
.main-navi:hover,
.main-navi:focus {
    color: #404bbf
}
/*Contakt*/
.main-contacts {
    color:  #434455;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-gap {
    display: flex;
    gap: 40px;
}
.main-contacts:hover,
.main-contacts:focus {
    color: #404bbf
}
/*Order service*/
.main-order-service {
    background-color: #2E2F42;
    padding: 188px;
    width: 1158px;
}
.order-service {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
}
.order-button {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    border: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display:block;
    min-width: 169px;
    height: 56px;
    background-color:#4d5ae5;
}
.order-button:hover,
.order-button:focus {
    background: #404BBF;
}
 /* work-princoples */
 .main-work-princoples {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.flex-box-princoples {
    display: flex;
    gap: 24px;
}
.box-work-princoples {
    width: 264px;
    width: calc((100% - 72px) / 4);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.work-princoples {
    color:  #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*our team*/
.our-team {
    color: #2e2f42 ;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px; 
}
.background-team {
    background-color: #F4F4FD;
}
.flex-box-team {
    display: flex;
    gap: 24px;
}
.team-li {
    background-color: #FFFFFF;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    width: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px;
}
.main-info-padding {
    padding: 32px;
}
.main-info {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    }
.post,
.info-portfolio { 
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
}
/* Portfolio */
.main-our-portfolio {
    color:#2e2f42 ;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;s
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.flex-box-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px; 
    row-gap: 48px;
}
.portfolio-li {
    width: calc((100% - 48px) / 3); 
}
.portfolio-div {
    padding: 32px 16px
    border: 1px solid #e7e9fc;
    border-top: none;
}
.main-info-portfolio {
    color:  #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}
/*Footer*/
.footer-background {
    background-color: #2E2F42;
    padding: 100px;
    width: 1158px;
}

.footer-logo-span {
    color:#F4F4FD;
}
.bloc {
    display: inline-block;
}
.footer-text {
    color: #F4F4FD;
}
/*Interaction*/
.main-logo:hover,
.main-span:hover,
.main-span:focus,
.main-logo:focus,
.footer-logo-span:hover,
.footer-logo-span:focus {
    color:#404bbf 
}
img {
    display: block;
}
.container {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}
section {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 1158px;
}
