h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ol,
ul {
    list-style-type: none;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}
.container {
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}
section,
header,
footer {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}
img {
    display: block;
}
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
/* Body */
body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    background-color:#FFFFFF;
}
/*Main-logo*/
.header {
    border-bottom: 1px solid #E7E9FC;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: stroke 250ms linear;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-header {
    display: flex;
}
.main-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
    font-weight: 700;
}
.main-logo-flex-box {
    display: flex;
    align-items: center;
}
.nav-flex-box {
    color: #434455;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.main-span {
    color: #2e2f42;
}
 /*Main-navi*/
.main-navi {
    color:  #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
main-navi::after {
    color: #404bbf;
    content: '' 
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px; 
    background-color: #404bbf; 
    border-radius: 2px; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 
}
/*Contakt*/
.main-contacts {
    color:  #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: auto;
    font-style: normal;
}
.contacts-li {
    color:  #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 400;
}
.contacts-li-action {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-li:hover,
.contacts-li:focus,
.main-navi:hover,
.main-navi:focus {
    color: #404bbf
}
.main-contacts:hover,
.main-contacts:focus {
    color: #404bbf
}
/*Order service*/
.main-order-service {
    background-color: #2E2F42;
    padding: 188px 0;
    flex-shrink: 0;
    background-image:  
    linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)
    ),
    url(../images/bacgraund_sections1/people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.order-service {
    color: var(--WHITE, #FFF);
    max-width: 496px;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin:auto;
    font-weight: 700;
}
.order-button {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    border: none;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display:block;
    min-width: 169px;
    height: 56px;
    background-color:#4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    margin-right:auto;
    margin-left: auto;
    margin-top: 48px;
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
    background: #404BBF;
}
 /* work-princoples */
.icon-work-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}
.icon-work-princoples {
    margin-top: 24px;
    margin-bottom: 24px;
}
 .section-pading {
    padding: 120px 0 120px 0;
 }
 .main-work-princoples {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 500;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.flex-box-princoples {
    display: flex;
    gap: 24px;
}
.box-work-princoples {
    width: calc((100% - 72px) / 4);
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
}
.work-princoples {
    color:  #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}
/*our team*/
.our-team {
    color: #2e2f42 ;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
}
.background-team {
    background-color: #F4F4FD;
}
.flex-box-team {
    display: flex;
    gap: 24px;
}
.team-li {
    background-color: #FFFFFF;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    width: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 32px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.main-info-padding {
    padding: 32px 0;
}
.main-info {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    }
.post { 
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 400;
}
.social-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.social-list-item {
    height: 40px;
    width: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    margin-top: 32px;
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}
.social-list-icon {
    display: flex;
    stroke: #F4F4FD;
    fill:#F4F4FD;
}
/* Portfolio */
.main-our-portfolio {
    color:#2e2f42 ;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
}
.flex-box-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px; 
    row-gap: 48px;
}
.portfolio-li:hover,
.portfolio-li:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.portfolio-li {
    width: calc((100% - 48px) / 3);
    background: var(--WHITE, #FFF);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-img {
    position: relative;
    overflow: hidden;
}
.portfolio-div {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}
.main-info-portfolio {
    margin-bottom: 8px;
}
.portfolio-li:hover .overlay,
.portfolio-li:focus .overlay {
    transform:translateY(0%);
    }
.portfolio-shadow {
    border: 1px solid#E7E9FC;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: #4D5AE5;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    overflow:auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}
/*Footer*/
.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-background {
    display: flex;
    background-color: #2E2F42;
    padding: 100px 0;
    justify-content: center;
    flex-shrink: 0;
}
.margin-logo-footer {
    margin-right: 120px;
}
.footer-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}
.footer-logo-span {
    color:#F4F4FD;
}
.bloc {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    color: #F4F4FD;
    width: 264px;
    font-weight: 400;
}
.footer-social-media {
    color: #FFFFFF;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.social-list-footer-gap {
    gap: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 40px;
}
.social-list-footer {
    transition: stroke 250ms linear;
}
.social-list-link-footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    padding: 8px;
    transition: stroke 250ms linear;
}
.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
/*Interaction*/
.main-logo:hover,
.main-logo:focus,
.main-span:hover,
.main-span:focus,
.footer-logo:focus,
.footer-logo:hover
.footer-logo-span:hover,
.footer-logo-span:focus {
    color:#404bbf 
}