.list {
list-style-type: none;
}
.link,
.main-navi{
    text-decoration: none;
}
button {
    cursor: pointer;
}
/* Body */
body {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color:#FFFFFF;
    font-family: "Roboto", sans-serif;
    color:#434455;
}
/*Main-logo*/
.main-logo {
color: #4d5ae5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
}
.main-logo:hover,
.main-span:hover,
.main-span:focus,
.main-logo:focus {
color:#404bbf 
}
.main-span {
color: #2e2f42;
}
 /*Main-navi*/
.main-navi {
color:  #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.main-navi:hover,
.main-navi:focus {
color: #404bbf
}
/*Contakt*/
.main-contacts {
color:  #434455;
font-weight: 400;
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
}
.main-contacts:hover,
.main-contacts:focus {
color: #404bbf
}
/*Order service*/
.main-order-service {
background-color: #2E2F42;
}
.order-service {
color: var(--WHITE, #FFF);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}
.order-button {
font-family: "Roboto", sans-serif;
background: #4D5AE5;
color: #FFFFFF;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}
.order-button:hover,
.order-button:focus {
    background: #404BBF;
}
 /* work-princoples */
 .main-work-princoples {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
}
.work-princoples {
    color:  #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #F4F4FD;
}
/*our team*/
.our-team {
    color: #2e2f42 ;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center 
}
.background-team {
    background-color: #F4F4FD;
}
.team-li {
    background-color: #FFFFFF;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
}
.main-info {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }
.post,
.info-portfolio { 
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}
/* Portfolio */
.main-our-portfolio {
    color:#2e2f42 ;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color: #F4F4FD;
}
.main-info-portfolio {
    color:  #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
/*Footer*/
.footer-background {
background-color: #2E2F42;
}
.foter-logo-span {
color:#F4F4FD;
}
.footer-text {
color: #F4F4FD;
}
